/*normalmente en app.css se aplican estilos  
 */

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 html, body {
   font-size: 1.125rem;
   background-color: #f5f6f7;
   
 }

 .main-container h2 {
  max-width: 940px;
  font-size: 2.5em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  margin: 40px 0;
  margin-bottom: 20px;
  color: red;
 }

 .App {
   min-height: 100vh;
 }

 .main-container {
   min-height: 600px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   padding-bottom: 2.5rem;
 }